* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 4rem;
}

a {
  display: inline-block;
  text-decoration: none;
  background-color: #6db33f;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  padding: 15px;
  border-radius: 0.5rem;
  text-transform: uppercase;
  border: 2px solid transparent;
  transition: all 0.3s;
}

a:hover {
  background-color: white;
  border: 2px solid #6db33f;
  color: #6db33f;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
}

.logo {
  width: 150px;
}

.logo img {
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

form label {
  margin-bottom: 10px;
  text-transform: capitalize;
}

form input {
  font-size: 1.2rem;
  width: 300px;
  height: 40px;
  padding: 10px;
}

form button {
  width: 300px;
  height: 40px;
  margin-top: 1rem;
  font-size: 1.3rem;
  background: #6db33f;
  border: 2px solid transparent;
  outline: 0;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

form button:hover {
  background-color: white;
  color: #6db33f;
  border: 2px solid #6db33f;
}
